@import url('reset.css');
body {
    background-color: rgb(85, 2, 78);
    min-height: 100dvh;
}
header, footer {
    background-color: rgb(231, 177, 106);
    width: 100%;
    height: 10%;

    padding: 50px;
}
.banner, .descripcion, .productos{
    width: 100%;
    height: 25%;
    border: solid 2px black;
    display: flex;
    justify-content: center;

}
.bimg{
    background-color: white;
    height: auto;
    width: 80%;
}
.nosotros{
    width: 100%;
    height: 25%;
    border: solid 2px black;
}
main{
    background-color: white;
    height: 80%;
}
.amarillo {
    background-color: rgba(255, 255, 255, 0.952);
}

.productos{
    display: flex;
    height: 500px;

    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 5px;
}

.producto {
    /* flex-grow: 1 ;   
    flex-shrink: 0 ;   
    flex-basis: auto ; ancho minimo que va a tener */
    

    flex: 1 1 auto; /* es lo mismo que lo de arriba */

    height: 100%;
    /*width: 10%;*/
    background-color: white;
    border: solid 3px black;
    font-size: 20px;
    padding: 5px;
}

.detalleProducto {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

.foto {
    height: 75%;
    width: 100%;
    background-color: white;
}

.texto{
    background-color: white;
    height: auto;
    width: 40%;
    justify-content: left;
}

.imagen{
    background-color: white;
    height: 100%;
    justify-content: right;
    object-fit: cover;
}

.logo{
    background-color: white;
    display: flex;
    justify-content: left;
    height: 10%;
    width: 25%;
}

.staff {
    height: 280px;
    display: flex;
    width: 100%;
    background-color: rgb(241, 241, 221);

    .persona {
        width: 100%;
        height: 25%;
        background-color: rgb(241, 241, 221);
    }
    .foto {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: blue;
    }
}